.header {
  background-color: black;
  display: flex;
  padding: 0 0;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  opacity: 3;
}
.header .item {
  color: white;
  line-height: 43px;
  padding-left: 20px;
  padding-right: 20px;
}
.header .item:hover {
  background-color: #ccc;
  color: black;
}
.header .button {
  padding: 0;
  background-color: black;
  color: white;
  display: block;
  width: 60px;
  text-align: center;
  line-height: 43px;
  height: 43px;
}
.header .button:hover {
  background-color: #ccc;
  color: black;
}
@media (min-width: 600px) {
  .header #hamburger {
    display: none;
  }
}
.header #search {
  color: white;
  float: right;
  margin-right: 88px;
  cursor: pointer;
  display: none;
}
@media (min-width: 600px) {
  .header #search {
    display: inline-block;
  }
}
.header #search:hover {
  background-color: #f44336;
}
.header .nav {
  position: absolute;
  top: 43px;
  opacity: 1;
  background-color: black;
  width: 100%;
}
@media (min-width: 600px) {
  .header .nav {
    display: block;
    top: 0;
    left: 88px;
  }
}
.header .nav a {
  display: block;
}
@media (min-width: 600px) {
  .header .nav a {
    display: inline-block;
  }
}
.header .nav .item {
  color: white;
  line-height: 43px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
}
.header .nav .item:hover {
  background-color: #ccc;
  color: black;
}
@media (min-width: 600px) {
  .header .nav .disappear {
    display: none;
  }
}
.header .nav .appear {
  position: relative;
  display: none;
  cursor: pointer;
}
.header .nav .appear .menu {
  background-color: white;
  position: absolute;
  left: 0;
  width: 170px;
}
.header .nav .appear .menu .item {
  width: 130px;
  color: black;
  cursor: pointer;
}
@media (min-width: 600px) {
  .header .nav .appear {
    display: inline-block;
  }
}

.hero {
  padding-top: 43px;
}
.hero .slides img {
  width: 100%;
}

.theband {
  padding-top: 50px;
  padding-bottom: 50px;
}
.theband .show_pic {
  display: flex;
  flex-direction: column;
}
.theband .show_pic .name {
  text-align: center;
}
.theband .show_pic .pic {
  text-align: center;
}
@media (min-width: 600px) {
  .theband .show_pic {
    flex-direction: row;
    justify-content: space-around;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}
.theband .name {
  margin: 15px 0;
}
.theband img {
  width: 60%;
}
.theband .pic {
  margin-bottom: 30px;
}

.tourdates {
  background-color: #000000;
  color: white;
  padding-top: 60px;
  padding-bottom: 60px;
}
.tourdates .subtitle {
  color: #ccc;
}
.tourdates .month {
  background-color: white;
  color: gray;
  border: 1px solid gray;
  width: 90%;
  margin: 40px auto;
}
.tourdates .month .item {
  display: flex;
  border: 1px solid gray;
  line-height: 40px;
  padding-left: 15px;
}
.tourdates .month .item .soldout {
  background-color: red;
  color: white;
  line-height: 20px;
  height: 50%;
  margin: auto 20px;
  padding: 2px 8px;
}
.tourdates .month .item .count {
  background-color: black;
  height: 50%;
  line-height: 30px;
  margin: auto 40px;
  width: 30px;
  border-radius: 50px;
  color: white;
  text-align: center;
  margin-left: auto;
}
.tourdates .city .item {
  background-color: white;
  width: 90%;
  margin: 40px auto;
  color: black;
  padding-bottom: 20px;
}
.tourdates .city .item img {
  width: 100%;
  opacity: 1;
}
.tourdates .city .item .title {
  font-size: 15px;
  letter-spacing: 0px;
  font-weight: 700;
  text-align: left;
  margin-left: 20px;
}
.tourdates .city .item .subtitle {
  color: #000000;
  font-size: 15px;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 20px;
}
.tourdates .city .item .content {
  margin-bottom: 15px;
  margin-left: 20px;
  padding-left: 0;
}
.tourdates .city .item .buy {
  background-color: black;
  color: white;
  padding: 4px 8px;
  width: 30%;
  margin-left: 20px;
  line-height: 30px;
  text-align: center;
}
.tourdates .city .item .buy:hover {
  background-color: #ccc;
  color: black;
}
.tourdates .city .item .pic {
  background-color: black;
}
.tourdates .city .item img:hover {
  opacity: 0.6;
}
@media (min-width: 600px) {
  .tourdates .city .item {
    margin-right: 20px;
  }
}
@media (min-width: 600px) {
  .tourdates .city {
    display: flex;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
  }
}

.contact {
  width: 100%;
  padding: 64px 16px;
  box-sizing: border-box;
  margin-bottom: 100px;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
.contact .fa-solid {
  margin-right: 20px;
}
.contact .info {
  margin-bottom: 20px;
  width: 80%;
}
.contact .info .item {
  margin-bottom: 10px;
  width: 100%;
}
.contact .input {
  width: 80%;
  box-sizing: border-box;
}
.contact .input input {
  box-sizing: border-box;
  padding: 5px 10px;
  margin: 0;
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
}
.contact .input .last {
  margin-top: 10px;
}
@media (min-width: 600px) {
  .contact .input .last {
    display: block;
    width: 100%;
  }
}
@media (min-width: 600px) {
  .contact .input .flex {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}
.contact .button {
  background-color: black;
  color: white;
  border: 1px solid black;
  padding: 8px 16px;
  font-size: 15px;
  float: right;
  margin-top: 16px;
}
.contact .button:hover {
  background-color: #ccc;
  color: black;
  border: 1px solid #ccc;
}
.contact .warp {
  box-sizing: border-box;
}
@media (min-width: 600px) {
  .contact .warp {
    display: flex;
  }
}

.bigroad img {
  width: 100%;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .icon {
  text-align: center;
  font-size: 20px;
  color: gray;
}
.footer .icon .fa-brands:hover {
  opacity: 0.6;
}
.footer .subtitle {
  font-style: normal;
  font-size: 14px;
}
.footer .subtitle a {
  text-decoration: underline;
  color: black;
}

html {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

.title {
  letter-spacing: 4px;
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0;
  font-size: 30px;
  text-align: center;
}

.subtitle {
  color: gray;
  font-style: italic;
  margin-bottom: 25px;
  text-align: center;
  padding-top: 10px;
}

.content {
  font-size: 15px;
  margin: 15px 0;
  line-height: 1.5;
  text-align: justify;
  padding: 0 10px;
  margin-bottom: 60px;
}
@media (min-width: 600px) {
  .content {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}

.button {
  background-color: black;
  color: white;
  padding: 4px 8px;
  width: 100px;
  margin-left: 20px;
  line-height: 30px;
  text-align: center;
}

.button:hover {
  background-color: #ccc;
  color: black;
}

.hide {
  display: none;
}

/*# sourceMappingURL=default.css.map */
